.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainpage{
    background-color: rgb(58, 253, 156);
    width: 100vw;
    height: 100vh;
}

.Books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
  }
  
.Books div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
.Books img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 20px;
  }
  
.Books h4 {
    max-width: 200px; /* adjust the max width value as needed */
    overflow: hidden;
    color: white;
  }
  
button.button {
  margin-right: 30px;
  margin-top: 10px;
  background-color: #ef1f1f; /* Green */
  color: white;
  padding: 15px 30px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

button.button:hover {
  background-color: #d17070; /* Dark green */
}

#searchbox{
    margin-top: 0px;
    width: 450px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #ccc;
    font-size: 16px;
    outline: none;
    margin-left: 550px;
  }
  
#searchbox:focus {
    border-color: #eb6c6c;
    box-shadow: 0px 0px 8px #eb6c6c;
  }

.logo{
    margin-left: 30px;
    margin-top: 10px;
}  
  
span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:7px;

}

.cost{
    color: green;
}

h3{
    color: white;
  }
  
.results{
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    color: white;
    margin-left: 650px;
}

